groq
PyPDF2
python-docx
markdown
rich
fastapi
python-multipart
google-generativeai
uvicorn
pydantic
pandas
joblib
fuzzywuzzy
python-Levenshtein
starlette
python-dotenv
authlib
itsdangerous
scikit-learn